## K Nearest Neighbor Classification Algorithm

KNN is one of the simplest forms of machine learning algorithms mostly used for classification. It classifies the data point on how its neighbor is classified. KNN classifies the new data points based on the similarity measure of the earlier stored data points. 

For example, if we have a dataset of tomatoes and bananas. KNN will store similar measures like shape and color. When a new object comes it will check its similarity with the color (red or yellow) and shape.

In [57]:
import numpy as np
import pandas as pd
import math

In [58]:
train_df = pd.read_csv("data/train.csv")
train_df

    Instance      var1      var2      var3 class
0          1  0.248979  0.872253  0.676742   yes
1          2  0.762864  0.368187  0.725981   yes
2          3  0.235919  0.872500  0.062327   yes
3          4  0.084664  0.162050  0.903461   yes
4          5  0.093110  0.722764  0.710013   yes
5          6  0.212510  0.722030  0.605719   yes
6          7  0.779621  0.631424  0.765310   yes
7          8  0.514526  0.649687  0.282341    no
8          9  0.548212  0.952251  0.361861    no
9         10  0.361917  0.621872  0.649182    no
10        11  0.924183  0.232324  0.412386    no
11        12  0.541250  0.479775  0.603006    no
12        13  0.701861  0.727638  0.338815    no
13        14  0.502315  0.605147  0.423545    no
14        15  0.285370  0.386854  0.287218    no

In [59]:
test_df = pd.read_csv("data/test.csv")
test_df

  Unnamed: 0      var1      var2      var3  class
0  instance1  0.530309  0.510636  0.808336    NaN
1  instance2  0.674608  0.326183  0.200622    NaN
2  instance3  0.836194  0.454514  0.729288    NaN
3  instance4  0.530309  0.510636  0.808336    NaN

Calculate the euclidean distance between test instance1 and train Instance 1.

In [60]:
X=train_df.drop(columns=['Instance','class'])
X_test=test_df.drop(columns=['Unnamed: 0','class'])
train_inst = train_df.iloc[0]
test_inst = test_df.iloc[0]
dist_hand =  (train_inst['var1'] - test_inst['var1']) ** 2 + \
                (train_inst['var2'] - test_inst['var2']) ** 2 + \
                (train_inst['var3'] - test_inst['var3']) ** 2
dist= math.sqrt(dist_hand)
print(dist_hand)
dist

0.22723040442500003

0.47668690397891156

Write code to calculate all the distances.

In [61]:
# Write your code here.
n=len(train_df)
m=len(test_df)
print(n,m)
distDF=pd.DataFrame(np.zeros((n,m)))
for i in range(n):
    for j in range(m):
        train_inst = train_df.iloc[i]
        test_inst = test_df.iloc[j]
       
        dist_hand =  (train_inst['var1'] - test_inst['var1']) ** 2 + \
                (train_inst['var2'] - test_inst['var2']) ** 2 + \
                (train_inst['var3'] - test_inst['var3']) ** 2
        
        distDF.iloc[i,j]=math.sqrt(distDF.iloc[i,j])
 
print(distDF)

15 4
      0    1    2    3
0   0.0  0.0  0.0  0.0
1   0.0  0.0  0.0  0.0
2   0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0
5   0.0  0.0  0.0  0.0
6   0.0  0.0  0.0  0.0
7   0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0
9   0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0
11  0.0  0.0  0.0  0.0
12  0.0  0.0  0.0  0.0
13  0.0  0.0  0.0  0.0
14  0.0  0.0  0.0  0.0

In [62]:
smallDist=distDF.nsmallest(4,3)[3].index
print(smallDist)
#freq = train_df.iloc[dist.nsmallest(4,'test3')['test3'].index]['class'].value_counts()
#freq

Int64Index([0, 1, 2, 3], dtype='int64')

In [63]:
k = 5
m = test_df.shape[0]
decision = pd.Series([])
for j in range(m):
    test_inst = (j)
    freq = train_df.iloc[distDF.nsmallest(k,test_inst)[test_inst].index]['class'].value_counts()
    freq = pd.DataFrame(freq)
    decision = freq[freq['class']==freq['class'].max()].reset_index()['index']
    print('test_inst: ',j,decision)

test_inst:  0 0    yes
Name: index, dtype: object
test_inst:  1 0    yes
Name: index, dtype: object
test_inst:  2 0    yes
Name: index, dtype: object
test_inst:  3 0    yes
Name: index, dtype: object

C:\Users\User\AppData\Local\Temp\ipykernel_38484\1569296085.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  decision = pd.Series([])

In [16]:
pip install -U scikit-learn scipy matplotlib

Collecting scikit-learn
  Downloading scikit_learn-1.2.1-cp311-cp311-win_amd64.whl (8.2 MB)
     ---------------------------------------- 8.2/8.2 MB 18.2 MB/s eta 0:00:00
Collecting scipy
  Downloading scipy-1.10.0-cp311-cp311-win_amd64.whl (42.2 MB)
     --------------------------------------- 42.2/42.2 MB 24.2 MB/s eta 0:00:00
Collecting matplotlib
  Downloading matplotlib-3.6.3-cp311-cp311-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 30.8 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.24.1)
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ------------------------------------- 298.0/298.0 kB 18.0 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.7-cp311-cp311-win_amd64.whl (162 kB)
     -------------------------------------- 163.0/163.0 kB 9.5 MB/s eta 0:00:00
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     ------------------------------------- 965.4/965.4 kB 30.8 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp311-cp311-win_amd64.whl (55 kB)
     ---------------------------------------- 55.4/55.4 kB ? eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (23.0)
Collecting pillow>=6.2.0
  Downloading Pillow-9.4.0-cp311-cp311-win_amd64.whl (2.5 MB)
     ---------------------------------------- 2.5/2.5 MB 26.2 MB/s eta 0:00:00
Collecting pyparsing>=2.2.1
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     ---------------------------------------- 98.3/98.3 kB ? eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: threadpoolctl, scipy, pyparsing, pillow, kiwisolver, joblib, fonttools, cycler, contourpy, scikit-learn, matplotlib
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.38.0 joblib-1.2.0 kiwisolver-1.4.4 matplotlib-3.6.3 pillow-9.4.0 pyparsing-3.0.9 scikit-learn-1.2.1 scipy-1.10.0 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [64]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors = 5)
X=train_df.drop(columns=['Instance','class'])
y=train_df['class']
neigh.fit(X,y)
X_test=test_df.drop(columns=['Unnamed: 0','class'])
y_test=test_df['class']
print(X_test)
neigh.predict(X_test)

       var1      var2      var3
0  0.530309  0.510636  0.808336
1  0.674608  0.326183  0.200622
2  0.836194  0.454514  0.729288
3  0.530309  0.510636  0.808336

array(['no', 'no', 'no', 'no'], dtype=object)

The goal of this exercise is to evaluate the impact of using an arbitrary integer encoding for categorical variables along with a linear classification model such as Logistic Regression.

To do so, let’s try to use OrdinalEncoder to preprocess the categorical variables. This preprocessor is assembled in a pipeline with LogisticRegression. The generalization performance of the pipeline can be evaluated by cross-validation and then compared to the score obtained when using OneHotEncoder or to some other baseline score.

First, we load the dataset.

In [65]:
import pandas as pd

adult_census = pd.read_csv("data/adult-census.csv")
adult_census

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [66]:
target_name = "class"
target = adult_census[target_name]
data = adult_census.drop(columns=[target_name, "education-num"])

We can used sklearn.compose.make_column_selector to automatically select columns with a specific data type (also called dtype). Here, we will use this selector to get only the columns containing strings (column with object dtype) that correspond to categorical features in our dataset.

In [67]:
from sklearn.compose import make_column_selector as selector

categorical_columns_selector = selector(dtype_include=object)
categorical_columns = categorical_columns_selector(data)
data_categorical = data[categorical_columns]
data_categorical.columns

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country'],
      dtype='object')

Define a scikit-learn pipeline composed of an OrdinalEncoder and a LogisticRegression classifier.

Because OrdinalEncoder can raise errors if it sees an unknown category at prediction time, you can set the handle_unknown="use_encoded_value" and unknown_value parameters. You can refer to the scikit-learn documentation for more details regarding these parameters.

In [68]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
model_lr=make_pipeline(OrdinalEncoder(handle_unknown=\
                                  "use_encoded_value",unknown_value=-1),\
                                   LogisticRegression(max_iter=500))
print(model_lr)
model_knn=make_pipeline(OrdinalEncoder(handle_unknown=\
                                       "use_encoded_value",unknown_value=-1),\
                                       KNeighborsClassifier(n_neighbors=5))
print(model_knn)

Pipeline(steps=[('ordinalencoder',
                 OrdinalEncoder(handle_unknown='use_encoded_value',
                                unknown_value=-1)),
                ('logisticregression', LogisticRegression(max_iter=500))])
Pipeline(steps=[('ordinalencoder',
                 OrdinalEncoder(handle_unknown='use_encoded_value',
                                unknown_value=-1)),
                ('kneighborsclassifier', KNeighborsClassifier())])

Your model is now defined. Evaluate it using a cross-validation using sklearn.model_selection.cross_validate.

In [70]:
from sklearn.model_selection import cross_validate

# solution
cv_results=cross_validate(model_lr,data_categorical,target)
print(cv_results)
scores=cv_results['test_score']
print(scores)
print("The mean cv accuracy is: "\
     f"(scores.mean():,3f)+/- (scores.std():.3f)" )

{'fit_time': array([0.83482885, 0.67223501, 0.90141678, 0.94187975, 0.79368043]), 'score_time': array([0.06315923, 0.07856297, 0.0796361 , 0.0796628 , 0.07507682]), 'test_score': array([0.75514382, 0.75555328, 0.75573301, 0.75307125, 0.75788288])}
[0.75514382 0.75555328 0.75573301 0.75307125 0.75788288]
The mean cv accuracy is: (scores.mean():,3f)+/- (scores.std():.3f)

Using an arbitrary mapping from string labels to integers as done here causes the linear model to make bad assumptions on the relative ordering of categories.

This prevents the model from learning anything predictive enough and the cross-validated score is even lower than the baseline we obtained by ignoring the input data and just constantly predicting the most frequent class:

In [71]:
from sklearn.dummy import DummyClassifier

cv_results = cross_validate(DummyClassifier(strategy="most_frequent"),
                            data_categorical, target)
scores = cv_results["test_score"]
print("The mean cross-validation accuracy is: "
      f"{scores.mean():.3f} +/- {scores.std():.3f}")

The mean cross-validation accuracy is: 0.761 +/- 0.000

Now, we would like to compare the generalization performance of our previous model with a new model where instead of using an OrdinalEncoder, we will use a OneHotEncoder. Repeat the model evaluation using cross-validation. Compare the score of both models and conclude on the impact of choosing a specific encoding strategy when using a linear model.

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# solution

With the linear classifier chosen, using an encoding that does not assume any ordering lead to much better result.

The important message here is: linear model and OrdinalEncoder are used together only for ordinal categorical features, i.e. features that have a specific ordering. Otherwise, your model will perform poorly.

The goal of this exercise is to evaluate the impact of feature preprocessing on a pipeline that uses a decision-tree-based classifier instead of a logistic regression.

The first question is to empirically evaluate whether scaling numerical features is helpful or not;

The second question is to evaluate whether it is empirically better (both from a computational and a statistical perspective) to use integer coded or one-hot encoded categories.

In [72]:
import pandas as pd

adult_census = pd.read_csv("data/adult-census.csv")
adult_census

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [73]:
target_name = "class"
target = adult_census[target_name]
data = adult_census.drop(columns=[target_name, "education-num"])

As in the previous notebooks, we use the utility make_column_selector to select only columns with a specific data type. Besides, we list in advance all categories for the categorical columns.

In [74]:
from sklearn.compose import make_column_selector as selector

numerical_columns_selector = selector(dtype_exclude=object)
categorical_columns_selector = selector(dtype_include=object)
numerical_columns = numerical_columns_selector(data)
categorical_columns = categorical_columns_selector(data)

## Reference pipeline (no numerical scaling and integer-coded categories)

First let’s time the pipeline we used in the main notebook to serve as a reference:

In [ ]:
import time

from sklearn.model_selection import cross_validate
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.ensemble import HistGradientBoostingClassifier

categorical_preprocessor = OrdinalEncoder(handle_unknown="use_encoded_value",
                                          unknown_value=-1)
preprocessor = ColumnTransformer([
    ('categorical', categorical_preprocessor, categorical_columns)],
    remainder="passthrough")

model = make_pipeline(preprocessor, HistGradientBoostingClassifier())

start = time.time()
cv_results = cross_validate(model, data, target)
elapsed_time = time.time() - start

scores = cv_results["test_score"]

print("The mean cross-validation accuracy is: "
      f"{scores.mean():.3f} +/- {scores.std():.3f} "
      f"with a fitting time of {elapsed_time:.3f}")

The mean cross-validation accuracy is: 0.873 +/- 0.002 with a fitting time of 5.301

##Scaling numerical features

Let’s write a similar pipeline that also scales the numerical features using StandardScaler (or similar):

In [ ]:
# solution

## Analysis

We can observe that both the accuracy and the training time are approximately the same as the reference pipeline (any time difference you might observe is not significant).

Scaling numerical features is indeed useless for most decision tree models in general and for HistGradientBoostingClassifier in particular.

## One-hot encoding of categorical variables

We observed that integer coding of categorical variables can be very detrimental for linear models. However, it does not seem to be the case for HistGradientBoostingClassifier models, as the cross-validation score of the reference pipeline with OrdinalEncoder is reasonably good.

Let’s see if we can get an even better accuracy with OneHotEncoder.

Hint: HistGradientBoostingClassifier does not yet support sparse input data. You might want to use OneHotEncoder(handle_unknown="ignore", sparse=False) to force the use of a dense representation as a workaround.

In [ ]:
# solution

## Analysis

From an accuracy point of view, the result is almost exactly the same. The reason is that HistGradientBoostingClassifier is expressive and robust enough to deal with misleading ordering of integer coded categories (which was not the case for linear models).

However from a computation point of view, the training time is much longer: this is caused by the fact that OneHotEncoder generates approximately 10 times more features than OrdinalEncoder.

Note that the current implementation HistGradientBoostingClassifier is still incomplete, and once sparse representation are handled correctly, training time might improve with such kinds of encodings.

The main take away message is that arbitrary integer coding of categories is perfectly fine for HistGradientBoostingClassifier and yields fast training times.